*.dbf
*.DBF
*.shp
*.SHP
*.PRJ
*.prj
*.SBX
*.sbx
*.SBN
*.sbn
*.SHX
*.shx
*.csv
*.dat
*.DAT
*.csv
*.xml
*.grd
*.Rdata
*.rdata
*.Rhistory
*.vrt
*.grd
*.gri
*.rds
*.nb
*wc0.5/
*.gal
*.GAL
*.doc
*.gwt
*.txt
*.avl
*.pdf
*SIMUL.DATA/
*.zip
*.tif
*ModelResults/
*.docx
*.Rds
*.gz
*.jpg
*.png
*.exe

